@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$dark-blue: #25274d;
$blue: #29648a;
$light-blue: #2e9cca;
$dark-gray: #464866;
$gray: #aaabb8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.container {
  padding: 0 20px;
}

.btn {
  padding: 10px 30px;

  border-radius: 5px;
  border: none;
  background-color: $blue;
  color: #fff;
  font-size: 18px;
  transition: .2s;
  cursor: pointer;

  &:hover {
    background-color: $light-blue;
  }
}

.form-field {
  display: flex;
  flex-direction: column;

  &__input {
    min-width: 250px;
    height: 40px;
    padding: 10px 7px;
    margin: 10px 0;

    border: none;
    border-bottom: 1px solid $dark-gray;
    border-radius: 0;
    outline: none;
    font-size: 16px;

    &::placeholder {
      color: $dark-gray;
      font-size: 16px;
    }

    &:focus {
      border-bottom: 1px solid $blue;
    }
  }
}

.header {
  height: 75px;
  background-color: #05386b;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo {
    &__link {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .menu {
    display: flex;
    list-style: none;

    &__item {
      &:not(:first-child) {
        margin-left: 10px;
      }
    }

    &__link {
      cursor: pointer;
      transition: .2s;
      color: #fff;
      text-decoration: none;

      &--active,
      &:hover {
        color: $gray;
      }
    }
  }
}

.main {
  padding-top: 30px;
}

.employee-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 10px 0;

  border: 1px solid $dark-gray;
  border-radius: 10px;

  .employee-data {
    list-style: none;
  }
}

.section {
  max-width: 800px;
  margin: 0 auto;

  &__title {
    width: 100%;
    text-align: center;
  }
}

.employees {
  &__no-employees {
    width: 100%;
    text-align: center;
    color: $blue;
    font-size: 25px;
  }
}

.employee-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &__submit {
    max-width: 150px;
  }
}


